<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Website with Login and Registration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  </head>
  <body>
    <header>
      <h2 class="logo">ChefMate</h2>
      <nav class="navigation">
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
        {% if 'username' in session %}
          <button class="btnLogin-popup"><a href="{{ url_for('logout') }}">Logout</a></button>
        {% else %}
          <button class="btnLogin-popup">Login</button>
        {% endif %}
      </nav>
    </header>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}", style="position:fixed; top:100px; right:50px;">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <div class="wrapper">
      <span class="icon-close">
        <ion-icon name="close"></ion-icon>
      </span>
      <div class="form-box login">
        <h2>Login</h2>
        <form method="POST" action="{{ url_for('login') }}">
          <div class="input-box">
            <span class="icon"><ion-icon name="person"></ion-icon></span>
            <input type="username" name= "username" required />
            <label>Username</label>
          </div>
          <div class="input-box">
            <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
            <input type="password" name= "password" required />
            <label>Password</label>
          </div>
          <div class="remember-forgot">
            <label for=""> <input type="checkbox" />Remember me </label>
            <a href="#">Forgot Password?</a>
          </div>
          <button type="submit" class="btn">Login</button>
          <div class="login-register">
            <p>
              Don't have an account?
              <a href="#" class="register-link">Register</a>
            </p>
          </div>
        </form>
      </div>

      <div class="form-box register">
        <h2>Registration</h2>
        <form method="POST" action="{{ url_for('signup') }}">
          <div class="input-box">
            <span class="icon"><ion-icon name="person"></ion-icon></span>
            <input type="username" name= "username" required />
            <label>Username</label>
          </div>
          <div class="input-box">
            <span class="icon"><ion-icon name="mail"></ion-icon></span>
            <input type="email" name="email" required />
            <label>Email</label>
          </div>
          <div class="input-box">
            <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
            <input type="password" name= "password" required />
            <label>Password</label>
          </div>
          <div class="remember-forgot">
            <label for="">
              <input type="checkbox" required />I agree to the terms & conditions
            </label>
          </div>
          <button type="submit" class="btn">Register</button>
          <div class="login-register">
            <p>
              Already have an account?
              <a href="#" class="login-link">Login</a>
            </p>
          </div>
        </form>
      </div>
    </div>
    <div class="content_div">
      <div class="image_div">
        {% block content %}
      
        <h1>Upload Your Pantry Image</h1>
      
        {% if latest_image %}
          <img src="{{ url_for('static', filename='images/' + latest_image) }}" alt="Latest Image" style="width: 300px; height: 300px;">
          <br>
          <div class="button-group">
            <button class="btn btn-primary link_btn"><a href="{{ url_for('object_recognition') }}" class="link_btn">Create</a></button>
            <button class="btn btn-secondary link_btn"><a href="{{ url_for('home') }}" class="link_btn">Cancel</a></button>
          </div>
        {% else %}
          <div class="image-placeholder">
            <span>No images uploaded yet.</span>
          </div>
      
          <form action="/uploadImg" method="POST" enctype="multipart/form-data" class="photo_form">
            {{ form.csrf_token }}
      
            <div class="form-group">
              {{ form.image.label }} {{ form.image }}
            </div>
      
            <div class="form-group" style="width:50%;" >
              {{ form.submit(class="btn btn-primary") }}
            </div>
      
          </form>
      
        {% endif %}
      
        {% endblock %}
      </div>
  </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>

<!-- reference from Codehal -->
